/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

// ----------------------------------------------
// body > header
.drawer > .drawer-navbar {
  // div
  .drawer-navbar-header {
    height: 59px; // = 60px - 1px
    #logo {
      height: 100%;
      // text-transform: uppercase;
      // font-weight: bold;
      font-size: 1.6em;
      letter-spacing: 2px;
      font-family: monospace;
      &:hover {
        text-decoration: none;
      }
      color: #eaeaea;
    }
    // 線の色
    .drawer-hamburger-icon,
    .drawer-hamburger-icon:after,
    .drawer-hamburger-icon:before {
      background: #eaeaea;
      height: 3px;
    }
  }
  // nav
  .drawer-nav {
    height: 100%;
    // ul
    .drawer-menu {
      // PCのみ
      .only_pc {
        display: none;
        // アイコンの色
        .active {
          color: yellowgreen;
        }
      }
    }
  }
}
.drawer-open > .drawer-navbar {
  .drawer-navbar-header {
    // 線を消す
    .drawer-hamburger-icon {
      background: none;
    }
  }
  // li
  .drawer-menu-item {
    font-size: 1.3em;
  }
}

/* layouts_container */

// flash: ログイン/アウト, Post, Review 後
#flash_messages {
  position: fixed;
  width: 95%;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  .alert {
    padding: 12px 14px;
    text-align: center;
    margin-bottom: 10px;
    color: #696969;
    &-alert {
      background: rgba(255, 208, 208, 0.9);
    }
    &-notice {
      background: rgba(179, 230, 174, 0.9);
    }
    // [x]ボタン
    .close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); // 高さ中央揃え
      right: 12px;
    }
  }
}
//  5秒後に1秒で上がる
.hidden_up {
  animation: move 1s ease 5s forwards;
  @keyframes move {
    0% {
      transform: translate(-50%, 0px);
    }
    100% {
      transform: translate(-50%, -170px);
    }
  }
}
// ふわっと消える animationが上書き防止用に.hidden_up より下
.hidden_out {
  animation: fadeout 0.5s ease-in;
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
.container {
  // main: (posts/post)
  & > main {
    margin-bottom: 70px; // footerナビに重ならないよう
  }

  & > footer {
    color: lightgray;
    a {
      color: gray;
      &:hover {
        color: darkgray;
      }
    }
    ul {
      padding: 0;
      list-style: none;
    }
    // ログイン後 スマホ
    .signed_in {
      // アイコンの色
      .active {
        color: green;
      }
    }
    // 未ログイン
    .not_signed_in {
      border-top: 1px solid #eaeaea;
      margin-top: 45px;
      padding-top: 5px;
      padding-bottom: 50px;
      small {
        float: left;
      }
      ul {
        float: right;
        margin: 0;
        li {
          float: left;
          margin-left: 15px;
        }
      }
    }
    // ログイン後 レスポンシブ スマホのみ
    .signed_in {
      // 下端に固定
      position: fixed;
      bottom: 0;
      background: #b0e7d7;
      width: 100%;
      height: 60px;
      line-height: 60px; // 高さ中央揃え
      left: 0;
      z-index: 5;
      ul {
        display: flex;
        float: none;
        li {
          width: 50%;
          text-align: center;
          margin-top: 5px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  // body > header
  .drawer > .drawer-navbar {
    // nav
    .drawer-nav {
      // ul
      .drawer-menu {
        // li
        .only_pc {
          display: block;
        }
        // PC画面では非表示
        .only_phone {
          display: none;
        }
      }
    }
  }
  // ドロワー閉じてる時
  .drawer-close {
    // li
    .only_pc {
      margin-right: 10px;
    }
  }
  // 非表示
  footer {
    // 未ログイン
    .not_signed_in {
      ul {
        // li
        .only_phone {
          display: none;
        }
      }
    }
    // ログイン後
    .signed_in {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .drawer-menu {
    li > a {
      color: lightgray;
    }
  }
}
