// 7
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// ----------------------------------------------
header.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 5%;
  z-index: 10;
  // opacity: 0.9;
  #logo {
    margin-left: 15px;
    font-size: 1.6em;
    color: #fff;
    // text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  nav {
    // ul
    .navbar-nav {
      // li
      .nav-link,
      .dropdown-item {
        color: lightgray;
      }
      // PCのみ
      .only_pc {
        display: none;
        // アイコンの色
        .active {
          color: yellowgreen;
        }
      }
    }
  }
}

main {
  margin-bottom: 70px; // footerナビに重ならないよう
}

footer {
  color: lightgray;
  a {
    color: gray;
    &:hover {
      color: darkgray;
    }
  }
  ul {
    padding: 0;
    list-style: none;
  }
  // ログイン後 スマホ
  .signed_in {
    // アイコンの色
    .active {
      color: green;
    }
  }
  // 未ログイン
  .not_signed_in {
    border-top: 1px solid #eaeaea;
    margin-top: 45px;
    padding-top: 5px;
    padding-bottom: 50px;
    small {
      float: left;
    }
    ul {
      float: right;
      margin: 0;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
  // ログイン後 レスポンシブ スマホのみ
  .signed_in {
    // 下端に固定
    position: fixed;
    bottom: 0;
    background: #b0e7d7;
    width: 100%;
    height: 60px;
    line-height: 60px; // 高さ中央揃え
    left: 0;
    z-index: 5;
    ul {
      display: flex;
      float: none;
      li {
        width: 50%;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}

// ----------------------------------------
// (layouts/flash) ログイン/アウト, Post, Review 7
#flash_messages {
  position: fixed;
  width: 95%;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  .alert {
    text-align: center;
    margin-bottom: 10px;
    color: #696969;
    &-alert {
      background: rgba(255, 208, 208, 0.9);
    }
    &-notice {
      background: rgba(179, 230, 174, 0.9);
    }
    // [x]ボタン
    .close {
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
}
// 上へ上がる
.hidden_up {
  animation: move 1.5s ease-in 5s forwards;
  @keyframes move {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-170px);
    }
  }
}
// ふわっと消える animationが上書きされない様 .hidden_upより下
.hidden_fadeout {
  animation: fadeout 1s both;
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

// ----------------------------------------------
// 7
/* miscellaneous */

.debug_dump {
  // clear: both;
  // float: left;
  width: 100%;
  margin-top: 35px;
  padding: 10px;
  border: 1px solid #696969;
  border-radius: 5px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

// ----------------------------------------
.checkbox {
  display: inline; // ずれ修正
}
// ログイン画面
#user_remember_me {
  width: auto;
  margin-left: 0;
}

// 7 (posts/new), (posts/show)_レビュー時
#error_explanation {
  span {
    color: #696969;
  }
  ul {
    color: red;
    list-style: square;
    text-align: left; // (posts/show)_レビュー時
    // margin: 0 0 30px 0;
  }
}

// field_with_errors: webpackへ

// ページネーション
#ajax_feed,
#ajax_users_show,
#ajax_users_index,
#ajax_users_show_reviews {
  nav {
    // ul
    .pagination {
      margin: 16px 0;
      justify-content: center;
      li > a {
        border: none;
        color: #696969;
        &:hover {
          border-radius: 15px;
        }
        &:active {
          color: #b0e7d7;
        }
      }
      /* 表示しているページ番号 */
      .active > a {
        background: #93c9ff;
        border-radius: 15px;
      }
    }
  }
}

@media (min-width: 768px) {
  header.navbar {
    nav {
      // ul
      .navbar-nav {
        // li ログインしている状態
        .only_pc {
          display: block;
          margin-right: 15px;
          // 未ログイン時
          &.not_signed_in {
            margin-right: 0;
          }
        }
        // PC画面では非表示
        .only_phone {
          display: none;
        }
      }
    }
  }
  // 非表示
  footer {
    // 未ログイン
    .not_signed_in {
      ul {
        // li
        .only_phone {
          display: none;
        }
      }
    }
    // ログイン後
    .signed_in {
      display: none;
    }
  }
}
