// 7
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

// (registrations/new), (posts/new), (reviews/form)
#error_explanation {
  span {
    color: #696969;
  }
  ul {
    color: red;
    list-style: square;
    text-align: left; // (posts/show)_レビュー時
    // margin: 0 0 30px 0;
  }
}

// field_with_errors: → webpack

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

textarea {
  resize: vertical;
}

// (sessions/new) (posts/new)
.checkbox {
  display: inline; // ずれ修正
}

// (sessions/new)
#user_remember_me {
  width: auto;
  margin-left: 0;
}

// ----------------------------------------
/* pagination */
#ajax_feed,
#ajax_users_show,
#ajax_users_index,
#ajax_users_show_reviews {
  nav {
    // ul
    .pagination {
      margin: 16px 0;
      justify-content: center;
      li > a {
        border: none;
        color: #696969;
        &:hover {
          border-radius: 15px;
        }
        &:active {
          color: #b0e7d7;
        }
      }
      /* 表示しているページ番号 */
      .active > a {
        background: #93c9ff;
        border-radius: 15px;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  // clear: both;
  // float: left;
  width: 100%;
  margin-top: 35px;
  padding: 10px;
  border: 1px solid #696969;
  border-radius: 5px;
  @include box_sizing;
}
