
// (home)
// ログイン前
.jumbotron {
  background: center/cover image-url('mie.JPG')
  rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  height: 55vh;
  margin-top: 10px;
  h1 {
    font-family: "Yu Gothic", "游ゴシック";
    margin-top: 30px;
  }
  h2 {
    margin-bottom: 50px;
  }
}

// (home)
#map {
  margin: 20px 0;
  // 吹き出し
  .infowindow {
    img {
      width: 100%;
    }
  }
}


// ログイン後
// 検索
.post_search, .map_search {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  input {
    border-radius: 5px 0 0 5px;
  }
  button {
    border-radius: 0 5px 5px 0;
  }
}

