
// ログイン後
// 検索
.map_search {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  input {
    border-radius: 5px 0 0 5px;
  }
  button {
    border-radius: 0 5px 5px 0;
  }
}

// 地図
#pkmap {
  height: 350px;
  border-radius: 10px;
  margin: 20px 0;
}

// 吹き出し
// (home/map), (posts/show)
.infowindow > img {
  width: 100%;
}
