// (header/footer_nav)
// ベル + ➓
li > .notice {
  .fa-bell {
    position: relative; // 基準
    // ➓ 未確認通知がある時のみ
    .n-circle {
      color: red;
      position: absolute;
      top: 1px;
      left: 5px;
      transform: scale(0) rotate(-150deg);
      animation: rotation 0.5s ease 0.3s 1 forwards;
      display: flex;
      justify-content: center;
      align-items: center;
      // 通知数
      .counter {
        color: white;
        position: absolute;
        font-size: 0.6em; // 相対
      }
      @keyframes rotation {
        0% {
          transform: scale(0) rotate(-80deg);
        }
        50% {
          transform: scale(0.5) rotate(-50deg);
        }
        100% {
          transform: scale(1) rotate(0deg);
        }
      }
    }
  }
}
header .n-circle {
  font-size: 1.1em;
}
footer .n-circle {
  font-size: 0.9em;
}

// (index)_ul
#notify_lists {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
  // (_notification)
  li {
    border-top: 1px dotted #8c8b8b;
    padding: 10px 0;
    padding-bottom: 5px;
    &:hover {
      opacity: 0.8;
      background: rgb(243, 241, 241);
    }
    .f_inline {
      // マーク
      .action_mark {
        .fa-user {
          color: #00a1e9;
        }
      }
      // 文章
      .notify_content {
        // 鈴木さん
        strong > a {
          color: inherit;
        }
        // post.content
        .like_notify,
        .comment_notify {
          a {
            font-size: 0.9em;
            color: gray;
            display: block;
            &:hover {
              color: inherit; // なぜリンクは青くなる?
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

#view_more {
  // もっと見るボタン
  // https://jajaaan.co.jp/css/button/
  a.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 4px 4px 0 #000;
    box-shadow: 4px 4px 0 #000;
    &:hover {
      -webkit-box-shadow: -4px -4px 0 #000;
      box-shadow: -4px -4px 0 #000;
    }
  }

}
