// (posts/_post)
.posts {
  list-style: none;
  margin-top: 20px;
  display: grid;
  gap: 10px 5px; // 余白
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  & > div {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    // width: 200px;
    // height: 200px;
  }
  header {
    // ユーザー名
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
  }
  main {
    margin-bottom: 20px;
    height: 240px; // ずれをなくすため仮設定
    // aタグ
    .link {
      color: inherit;
      // text-decoration : none;
      &:hover {
        color: inherit; // なぜリンクは青くなる?
        text-decoration: none;
      }
    }
    // ★★☆☆☆ 3.0 (3)
    .average_score {
      display: flex;
      margin-bottom: 5px;
      // 共通 (review/review)
      // ★★☆☆☆
      .star_rating {
        height: 1em;
      }
      // 3.0 (3)
      .score_review {
        font-size: 16px;
        .average_number {
          color: gray;
        }
      }
    }
    // 画像
    img {
      margin: 5px 0;
      width: 100%;
      height: auto;
    }
    .content {
      color: gray;
      display: block;
      p {
        margin-bottom: 0;
        font-size: 1em;
      }
    }
  }
  footer {
    display: flex;
    align-items: flex-end;
    .user_image {
      display: flex;
      align-items: center;
      .gravatar {
        margin-right: 10px;
      }
    }
    .timestamp {
      color: gray;
      margin-left: auto; // 右よせ
    }
  }
}

// (posts/show)
.posts_show {
  .user_post > a {
    color: inherit;
  }
  // 地図
  #detail_map {
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .post_state {
    display: flex;
    align-items: center;
  }
}

// (post/new)
.post_form {
  // .field_with_errors {
  //   max-width: 100px;
  // }
  // ラジオボタン
  input[type="radio"] {
    max-width: 30px;
  }
  // チェックボックス
  input[type="checkbox"] {
    max-width: 30px;
  }
  textarea {
    // height: 80px;
    margin-bottom: 10px;
  }
}
