// (posts/show)_ajax
#reviews > ul {
  list-style: none;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 600px;
  // (reviews/review)
  li {
    padding: 8px 0;
    border-top: 1px dotted #8c8b8b;
    main > a:hover {
      text-decoration: none;
    }
    // レビュー文
    .review_content {
      p {
        margin: 0;
        font-size: 1em;
        color: black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
// 共通 (reviews/review, show)
// □ 丸山愛子 口コミ 6件
.review_user {
  line-height: 0.9em;
  strong > a,
  .review_number > a {
    color: inherit;
    font-size: 0.9em;
  }
}
// ★★ + ☆☆☆☆☆ 4日前
.user_score {
  display: flex;
  align-items: center;
}

// 共通 (posts/show, /post)
// ★★☆☆☆
.star_rating {
  position: relative;
  width: 5em;
  // height: 1em;
  font-size: 18px;
  margin-right: 5px;
  // ★★
  .star_front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; // はみ出した部分を隠す
    color: #ffcc33;
  }
  // ☆☆☆☆☆
  .star_back {
    color: #ccc;
  }
}

// (reviews/form)
.btn_ratings {
  color: #ffcc00;
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}
#exampleModal {
  top: 15%;
  // form
  .rating-box {
    font-size: 30px;
    // ★★☆☆☆ 2/5
    .main-rating {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 15px;
      // (★★☆☆☆)
      .ratings {
        color: #ffcc00;
        cursor: pointer;
      }
      // 2/5
      .rating_value_display {
        font-size: 20px;
      }
    }
    // ボタン
    .modal-footer {
      justify-content: center;
      // 送信 custom.scss
      input[type="submit"] {
        width: 30%;
      }
    }
  }
}
