
// home
.jumbotron {
  background: center/cover image-url('mie.JPG')
  rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  height: 55vh;
  margin-top: 10px;
  h1 {
    font-family: "Yu Gothic", "游ゴシック";
    margin-top: 30px;
  }
  h2 {
    margin-bottom: 50px;
  }
}

// about
.recommend_spot {
  display: flex;
  ul {
    margin-right: 20px;
  }
}

// 投稿検索 (home)
.post_search {
  margin: 10px 0;
}