# 追加
.DS_Store
src/.env
# 取得したRubyのライブラリ rspec
src/vendor/bundle
# メモ
src/app/views/home_pages/aa.html.erb


# Ignore bundler config.
src/.bundle

# Ignore all logfiles and tempfiles.
src/log/*
src/tmp/*
!src/log/.keep
!src/tmp/.keep

# Ignore pidfiles, but keep the directory.
src/tmp/pids/*
!src/tmp/pids/
!src/tmp/pids/.keep

# Ignore uploaded files in development.
src/storage/*
!src/storage/.keep

src/public/assets
src/.byebug_history

# Ignore master key for decrypting credentials and more.
src/config/master.key

src/public/packs
src/public/packs-test
src/node_modules
src/yarn-error.log
src/yarn-debug.log*
src/.yarn-integrity

# (docker-compose.yml volumes)
src/db/mysql_data
