version: '3.8'

services:
  db:
    image: mysql:8.0
    command: --authentication_policy=mysql_native_password
    volumes:
      - ./src/db/mysql_data:/var/lib/mysql
    environment:
      # TZ: Asia/Tokyo # ログに反映されない? webがexitedになる?
      MYSQL_ROOT_PASSWORD: password # (config/database.yml)
  web:
    build: .
    command: /bin/sh -c "rm -f src/tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'" # 5
    volumes:
      - ./src:/app
    ports:
      - "3000:3000"
    tty: true # -t
    stdin_open: true # -i
    links:
      - db
    depends_on:
      - db # (config/database.yml)
    environment: # Rspec用
      - "SELENIUM_DRIVER_URL=http://selenium_chrome:4444/wd/hub"
      # RAILS_ENV: development # つけた方がいい？

  chrome: # Chromeでのテスト実行用コンテナ できず
    image: selenium/standalone-chrome-debug
    ports:
      - '4444:4444'
