<%# Home_ログイン後 %>
<div id='pkmap'></div>

<style>
  #pkmap {
    height: 350px;
    border-radius: 10px;
    margin: 20px 0;
  }
</style>

<script>

  let map

  // 初期
  function initMap(){
    // 地図
    const target = document.getElementById('pkmap')
    // オブジェクト生成
    geocoder = new google.maps.Geocoder()

    // 自身の住所: 緯度, 経度
    user_address = {
      lat: <%= current_user.latitude %>,
      lng: <%= current_user.longitude %>
    }
    // 最新フィードの住所がもしあれば 条件演算子
    new_post_address = (gon.feed[0]) ? {
      lat: gon.feed[0].latitude,
      lng: gon.feed[0].longitude
    } : null

    // 中心位置を表示
    map = new google.maps.Map(target, {
      // フィードがなければ自身の住所 論理和
      center: new_post_address || user_address,
      zoom: 13,
      mapTypeControl: false, // 地図|写真
      streetViewControl: false, // ストリートビューマーク
      // mapTypeId: 'roadmap' // 地図の種類
      styles: [{
        // 全てのラベルを非表示
        // featureType: 'all',
        // elementType: 'labels',
        // stylers: [
        //   {visibility: 'off'},
        // ],
      }],
      icon: {
        url: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png',
        // サイズ
        scaledSize: new google.maps.Size(40, 40)
      }
    });
    // 自身の住所のマーカー
    marker = new google.maps.Marker({
      map: map,
      position: user_address
    });

    // 投稿一覧
    gon.posts.forEach(post => {
      // マーカー: 繰り返しなので let 入れないとエラー
      let marker = new google.maps.Marker({
        map: map,
        position: {
          // 高精度な位置情報がないとここでエラー
          lat: post.latitude,
          lng: post.longitude
        },
        // title: contentString
      });
      // 吹き出し
      let infowindow = new google.maps.InfoWindow();
      marker.addListener('click', function() {
        infowindow.setContent(
          // リンク + 画像
          '<div class="infowindow">'
          + `<a href='/posts/${post.id}'>${post.address}</a>`
          + `<img src='https://maps.googleapis.com/maps/api/streetview?size=640x480&heading=160&fov=120&location=${post.latitude},${post.longitude}&sensor=true&key=<%= ENV['GOOGLE_MAP_API'] %>' >`
          + '</div>'
        );
        infowindow.open(map, marker);
      });
    });
  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
