<%# (posts/new), (posts/show_コメント失敗) %>
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <span><%= pluralize(object.errors.count, "つ") %>
      のエラーがあります。</span>
    </div>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
