<%# (static_pages/home) %>
<% if @feed_items.any? %>
  <div class="posts">
    <%= render @feed_items %>
    <%# (posts/_post) %>
  </div>
  <%= paginate @feed_items,
    remote: true, # ajax
    params: { controller: :static_pages, action: :home }
  %>
<% end %>

<%= javascript_pack_tag 'map_feed.js' %>