<%# (home_pages/home) %>
<% if @feed_items.any? %>
  <div class="posts">
    <%= render @feed_items %>
    <%# (posts/_post) %>
  </div>
  <%= paginate @feed_items,
    remote: true, # ajax
    params: { controller: :home_pages, action: :home }
  %>
<% end %>

<%# 住所をクリックするとマップ表示 エラーのため未使用 %>
<%# <%= javascript_pack_tag 'search_name.js' %>
