<%# 投稿フォーム (static_pages/home) %>
<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "入力する..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
