# MySQL. Versions 5.5.8 and up are supported.

default: &default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  adapter: mysql2
  encoding: utf8mb4 # 5
  username: root
  password: password # (docker-compose.yml)
  host: db # (docker-compose.yml depends_on)
  database: app_development

test:
  adapter: mysql2
  encoding: utf8mb4 # 5
  username: root
  password: password
  host: db
  database: app_test # (.circleci/config.yml)

production: # (renderに接続)
  adapter: postgresql
  encoding: unicode
  url: <%= ENV['DATABASE_URL'] %>
