<% provide(:title, 'like users') %>
<h2>いいねしたユーザー</h2>

<% if @post_like_users.any? %>
  <div id="">
    <ul class="users">
      <%= render @post_like_users  %>
      <%# (users/_user) %>
    </ul>
  </div>
<% else %>
  <h2>ユーザーはいません</h2>
<% end %>
