<%# (layouts/application) ログイン/アウト, Post, Comment %>
<%# id: ajax_(comment/destroy) %>
<div id="flash_messages">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>">
      <%= message %>
      <%# [×] ボタン %>
      <button type="button" class="close">&times;</button>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('.close').click(function() {
      $('.alert').fadeOut(500);
    });
  });
  // JavaScriptでかけず...
  // const close = document.querySelector('.close')
  // const alert = document.querySelector('.alert')
  // close.addEventListener('click', () => {
  //   alert.classList.add('fadeout');
  //   alert.remove();
  // })
</script>
