<footer class="footer">
  <small>
    PK map by <a href="https://spapf-24842.web.app/">shikitti</a>
    2022
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
