    // Post一覧を表示
    @posts.each do |post|
      (function(){
        let contentString = "住所: " + post.address;

        // ピンをさす
        let marker = new google.maps.Marker({
          position: {
            lat: post.latitude,
            lng: post.longitude
          },
          map: map,
          title: contentString
        });

        // 情報ウィンドウ(吹き出し)の定義
        let infowindow = new google.maps.InfoWindow({
          position: {
            lat: post.latitude,
            lng: post.longitude
          },
          // 文章を表示
          // content: "<a href='<%= post_url(post.id) %>' target='_blank'><%= post.address %></a>"
        });

        // クリックしたときに情報ウィンドウを表示
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    end


'鶴見緑地'
    '34.711'
    '135.581'
