
  <div class="container">
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">

        <% if user_signed_in? %>


          <li class="dropdown">
            <ul class="dropdown-menu">
              <li></li>
              <li><%= link_to "About",    %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "",  %>
              </li>
            </ul>
          </li>
        <% else %>
        <% end %>
      </ul>
    </nav>
  </div>