<% provide(:title, "About") %>
<h1>PK map</h1>
<div>
  <h3>本アプリの対象者</h3>
  <ul>
    <li>動きたいけど地元で動ける場所がわからない</li>
    <li>みんなが運動している場所を知りたい</li>
    <li>外に出るきっかけが欲しい</li>
    <li>部屋に引きこもりがち</li>
  </ul>
  <h3>おすすめの場所</h3>
  <ul>
    <li>道端のブロック</li>
    <li>道端のレール</li>
    <li>公園の鉄棒</li>
  </ul>
  <hr>
  <p>私は趣味でパルクールをしています。なんといってもこのスポーツの良さは以下になります。</p>
  <h3>パルクールについて</h3>
  <ul>
    <li>初心者でも簡単に始められる</li>
    <li>いつでも簡単に始められる</li>
    <li>外の風を浴びながら動ける</li>
    <li>軽く動きたい</li>
    <li>時間に縛られない</li>
    <li>場所に縛られない</li>
    <li>極めると重力を感じなくなります</li>
    <li>極めると回れる</li>
    <li>年齢は関係ない</li>
  </ul>
</div>
